<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Sunnyscout</title>
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='images/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='images/favicon-16x16.png') }}">
    <link rel="apple-touch-icon" sizes="192x192" href="{{ url_for('static', filename='images/favicon-192x192.png') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='CSS/style.css') }}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://unpkg.com/@dotlottie/player-component@latest/dist/dotlottie-player.mjs" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
</head>

<body class="recursive-<uniquifier>">
    <div class="page-container">
        <header>
            <div class="app-name">
                <h3><a href="{{ url_for('home') }}">Sunnyscout</a></h3>
            </div>
            <nav>
              <a href="{{ url_for('about') }}">About</a>
            </nav>
        </header>

        <main>
            <div class="home-page active text-center">
                <h1>Explore the sunniest spots in Europe!
                </h1>
                <p>Easily find, plan, and book your sunny getaway — all from one place.
                    <br> See the 5 sunniest cities for your dates, with flights and hotels at your fingertips.
                </p>
                <div class="homepage-img">
                <dotlottie-player src="https://lottie.host/fd403fc8-0546-4faf-9d81-5ba1db7a67aa/EljZLbq02o.json" background="transparent" speed="1" style="width: 300px; height: 300px;" loop autoplay></dotlottie-player>
                </div>
                <button id="start-search" class="btn btn-dark btn-lg">Start Search</button>
            </div>


            <div class="typeform-container">
                <div class="typeform-like-container">
                    <div class="progress-bar">
                        <span class="progress" style="width: 0%"></span>
                    </div>
                    <form id="search-form" action="{{ url_for('result') }}" method="GET">
                        <div class="question active" id="location-question" data-question="1">
                            <h2>Current Location</h2>
                            <p>* currently only available for European cities</p>
                            <input type="text" id="current-location" name="current_location" class="form-select text-bg-light" placeholder="Your current location" required autocomplete="off" list="cities-list">
                            <datalist id="cities-list"></datalist>
                            <div id="error-message" style="color: red; display: none;">Please select a location to continue.</div>
                            <div class="button-group">
                                <div class="back-button">
                                    <button type="button" class="btn btn-secondary back-btn" onclick="window.location.href='{{ url_for('home') }}'">Back</button>
                                </div>
                                <div class="next-button">
                                    <button type="button" class="btn btn-dark next-btn">Next</button>
                                </div>
                            </div>
                        </div>

                        <div class="question" id="date-question" data-question="2">
                            <h2>When do you want to travel?</h2>
                            <p>* weather forecasting is available 16 days in advance</p>
                            <div class="date-range">
                                <input type="text" id="date-range" name="date_range" required>
                            </div>
                            <div id="date-error-message" style="color: red; display: none;">Please select a date range to continue.</div>
                            <div class="button-group">
                                <div class="back-button">
                                    <button type="button" class="btn btn-secondary back-btn">Back</button>
                                </div>
                                <div class="next-button">
                                    <button type="button" class="btn btn-dark next-btn">Next</button>
                                </div>
                            </div>
                        </div>

                        <div class="question" id="distance-question" data-question="3">
                            <h2>How far are you willing to travel?</h2>
                            <p>* London -> Istanbul is ~2,500km, Naples -> Nordkapp is ~4,500km</p>
                            <div class="preference-option">
                                <label for="distance">Distance (km): <span id="distance-value">Any distance</span></label>
                                <input type="range" id="distance" name="distance" min="0" max="5000" step="100" value="5000">
                            </div>
                            <div class="button-group">
                                <div class="back-button">
                                    <button type="button" class="btn btn-secondary back-btn">Back</button>
                                </div>
                                <div class="next-button">
                                    <button type="button" class="btn btn-dark next-btn">Next</button>
                                </div>
                            </div>
                        </div>

                        <div class="question" id="population-question" data-question="4">
                            <h2>What size of city do you prefer?</h2>
                            <p>* population data from <a href="https://simplemaps.com/" target="_blank">simplemaps.com</a></p>
                            <div class="preference-option">
                                <p>Select one or more options:</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="all" id="all-population" name="population_range" checked>
                                    <label class="form-check-label" for="all-population">
                                        Select All
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="small" id="small-urban" name="population_range">
                                    <label class="form-check-label" for="small-urban">
                                        Small Urban Areas (0 - 200,000)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="medium" id="medium-urban" name="population_range">
                                    <label class="form-check-label" for="medium-urban">
                                        Medium-size Urban Areas (200,001 - 500,000)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="metropolitan" id="metropolitan" name="population_range">
                                    <label class="form-check-label" for="metropolitan">
                                        Metropolitan Areas (500,001 - 1,500,000)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="large-metropolitan" id="large-metropolitan" name="population_range">
                                    <label class="form-check-label" for="large-metropolitan">
                                        Large Metropolitan Areas (1,500,001 and higher)
                                    </label>
                                </div>
                            </div>
                            <div class="button-group">
                                <div class="back-button">
                                    <button type="button" class="btn btn-secondary back-btn">Back</button>
                                </div>
                                <div class="next-button">
                                    <button type="button" class="btn btn-dark next-btn">Next</button>
                                </div>
                            </div>
                        </div>

                        <div class="question" id="cost-question" data-question="5">
                            <h2>What's your budget?</h2>
                            <p>* based loosely on cost of living and restaurant prices - data from <a href="https://numbeo.com/cost-of-living" target="_blank">Numbeo</a></p>
                            <div class="preference-option">
                                <p>Select one or more options:</p>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="all" id="all-cost" name="cost_range" checked>
                                    <label class="form-check-label" for="all-cost">
                                        Select All
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="€" id="cost-low" name="cost_range">
                                    <label class="form-check-label" for="cost-low">
                                        € (Budget-friendly)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="€€" id="cost-medium" name="cost_range">
                                    <label class="form-check-label" for="cost-medium">
                                        €€ (Moderate)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="€€€" id="cost-high" name="cost_range">
                                    <label class="form-check-label" for="cost-high">
                                        €€€ (Expensive)
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="€€€€" id="cost-very-high" name="cost_range">
                                    <label class="form-check-label" for="cost-very-high">
                                        €€€€ (Luxury)
                                    </label>
                                </div>
                            </div>
                            <div class="button-group">
                                <div class="back-button">
                                    <button type="button" class="btn btn-secondary back-btn">Back</button>
                                </div>
                                <div class="next-button">
                                    <button type="button" class="btn btn-dark next-btn">Next</button>
                                </div>
                            </div>
                        </div>

                        <div class="question" id="preferences-question" data-question="6">
                            <h2>More preferences to refine your search</h2>
                            <table class="preference-matrix">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>Only</th>
                                        <th>Include</th>
                                        <th>Exclude</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Island</td>
                                        <td><input type="radio" name="island" value="must" id="capital-must"></td>
                                        <td><input type="radio" name="island" value="either" id="capital-either" checked></td>
                                        <td><input type="radio" name="island" value="dont" id="capital-dont"></td>
                                    </tr>
                                    <tr>
                                        <td>Capital City</td>
                                        <td><input type="radio" name="capital" value="must" id="capital-must"></td>
                                        <td><input type="radio" name="capital" value="either" id="capital-either" checked></td>
                                        <td><input type="radio" name="capital" value="dont" id="capital-dont"></td>
                                    </tr>
                                    <tr>
                                        <td>European Union</td>
                                        <td><input type="radio" name="eu" value="must" id="eu-must"></td>
                                        <td><input type="radio" name="eu" value="either" id="eu-either" checked></td>
                                        <td><input type="radio" name="eu" value="dont" id="eu-dont"></td>
                                    </tr>
                                    <tr>
                                        <td>Schengen Area</td>
                                        <td><input type="radio" name="schengen" value="must" id="schengen-must"></td>
                                        <td><input type="radio" name="schengen" value="either" id="schengen-either" checked></td>
                                        <td><input type="radio" name="schengen" value="dont" id="schengen-dont"></td>
                                    </tr>
                                    <tr>
                                        <td>Eurozone</td>
                                        <td><input type="radio" name="eurozone" value="must" id="eurozone-must"></td>
                                        <td><input type="radio" name="eurozone" value="either" id="eurozone-either" checked></td>
                                        <td><input type="radio" name="eurozone" value="dont" id="eurozone-dont"></td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="button-group">
                                <div class="back-button">
                                    <button type="button" class="btn btn-secondary back-btn">Back</button>
                                </div>
                                <div class="next-button">
                                    <button type="submit" class="btn btn-dark rounded-pill px-3" id="explore-button"><b>Explore</b></button>
                                </div>
                            </div>
                        </div>

                        <div id="loading-overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.5); z-index: 9999;">
                          <div style="position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); text-align: center; width: 100%; max-width: 300px;">
                            <h2 style="color: white; margin-bottom: 20px; font-family: Arial, sans-serif;">Searching for sunny destinations...</h2>
                            <dotlottie-player src="https://lottie.host/18c6e39c-6450-476f-8bc3-edd70586c62a/A3C68311jC.json" background="transparent" speed="0.5" style="width: 100%; height: 300px;" loop autoplay></dotlottie-player>
                          </div>
                        </div>

                    </form>
                </div>
            </div>
        </main>

        <footer>
            <p>&copy; 2024 Sunnyscout</p>
        </footer>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eHz" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>

    <!-- Hotjar Tracking Code for Sunnyscout -->
    <script>
        (function(h,o,t,j,a,r){
            h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
            h._hjSettings={hjid:5147669,hjsv:6};
            a=o.getElementsByTagName('head')[0];
            r=o.createElement('script');r.async=1;
            r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
            a.appendChild(r);
        })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
    </script>

</body>
</html>